.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    flex-grow: 1;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #ff0080, #7928ca);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: auto; 
}

.nav-connect:hover {
    transform: scale(1.05);
}
