.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
    background: linear-gradient(140deg, #ff0080 15%, #883ed1 85%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.about-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections{
    display: flex;
    gap: 80px;
}

.about-right{
    display: flex;
    flex-direction:  column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr{
    outline: white;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(220deg, #00aeff 10%, #ffffff 90%);
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    
    .about img{
        width: 130px;
        right: -20px;
    }

    .about-sections{
        flex-direction: column;
    }

    .about-left{
        display: none;
    }

    .about-para{
        font-size: 18px;
        line-height: 32px;

    }

    .about-skill{
        gap: 20px;
        align-items: center;
    }

    .about-skill p{
        font-size: 20px;
    }

    .about-skill hr{
        height: 6px;
    }

    .about-achievements{
        justify-content: space-between;
    }

    .about-achievement{
        gap: 10px;
    }

    .about-achievement hr{
        font-size: 34px;
        font-weight: 700;
    }
    
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}