

.dynamic-tile {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff0080, #7928ca);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease; 
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.dynamic-tile:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

.tile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid linear-gradient(220deg, #00aeff 10%, #ffffff 90%);
  color: #383737;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  text-decoration: none;
}

.tile-button i {
  margin-right: 8px;
}

.tile-button:hover {
    transition: 0.5s;
    transform: scale(1.05);
    background-color: #ffdd00;
    color: #222;
}

.tile-button:active {
  background-color: #ffaa00;
  color: #fff;
}

.tile-button p{
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
}

