.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}

.footer-bottom-right{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer hr{
    width: 100%;
    height: 2px;
    background: linear-gradient(267deg, #ff0080, #7928ca);
    border: none;
    margin-top: 20px;
}



@media(max-width:768px){
    .footer{
        margin:  50px 70px;
    }

    .footer-top{
        flex-direction: column;
        gap: 50px;

    }

    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}