.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 120px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #7928ca 10%, #ff0080 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}

.hero-connect{
    padding: 25px;
    width: 180px;
    border-radius: 50px;
    background: linear-gradient(267deg, #ff0080, #7928ca);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.hero-resume{
    color: white;
    text-decoration: none;
    padding: 25px 60px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.hero-connect:hover{
    transform: scale(1.05);
}

.hero-resume:hover{
    background: linear-gradient(267deg, #ff0080, #7928ca);
    transform: scale(1.05);
}

.hero p span{
    background: linear-gradient(220deg, #00aeff 10%, #ffffff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    
    .hero p{
        width: 60%;
        font-size: 25px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}