.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 120px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #7928ca 10%, #ff0080 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}

.hero-connect{
    padding: 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #ff0080, #7928ca);
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume{
    padding: 25px 60px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.hero-connect:hover{
    transform: scale(1.05);
}

.hero-resume:hover{
    border-color: aqua;
    transform: scale(1.05);
}